# Penentuan Negara Prioritas Ekspor-Impor Hasil Perikanan di Indonesia Dengan Menggunakan Algoritma A* dan Genetic Algorithm

Nama Anggota Kelompok :

1. Gerrard Sebastian - NIM 1203220018
2. Ali Rafli Putra Hakiki - NIM 1203220107
3. Okky Rangga Pratama - NIM 1203220011

# IMPORT LIBRARY

In [1]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    if not exists(filename):
        from urllib.request import urlretrieve
        local, _ = urlretrieve(url, filename)
        print('Downloaded ' + local)
    
download('https://github.com/AllenDowney/ModSimPy/raw/master/' +
        'modsim.py')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from modsim import *

## BY ATRIBUT (A*)

In [3]:
import pandas as pd

def read_data(filename):
    country_data = {}
    try:
        df = pd.read_excel(filename)
    except Exception as e:
        print(f"Error reading Excel file: {e}")
        return country_data
    
    for index, row in df.iterrows():
        if pd.notna(row[0]):  
            country = str(row[0]).strip() 
            try:
                import_ton = float(row[1]) if pd.notna(row[1]) else 0
                export_ton = float(row[6]) if pd.notna(row[6]) else 0
                import_usd = float(row[13]) if pd.notna(row[13]) else 0
                export_usd = float(row[18]) if pd.notna(row[18]) else 0
                
            except ValueError:
                print(f"Invalid tonnage value in row: {index + 2}")
                continue
            
            country_data[country] = {
                'import_ton': import_ton,
                'export_ton': export_ton,
                'import_usd': import_usd,
                'export_usd': export_usd
            }
    return country_data

def top_countries_by_metric(country_data, metric, top_n=5):
    return sorted(country_data.items(), key=lambda x: x[1][metric], reverse=True)[:top_n]

def main():
    filename = 'dataFIXmerges.xlsx'
    country_data = read_data(filename)

    top_exporters_ton = top_countries_by_metric(country_data, 'export_ton')
    top_importers_ton = top_countries_by_metric(country_data, 'import_ton')
    top_exporters_usd = top_countries_by_metric(country_data, 'export_usd')
    top_importers_usd = top_countries_by_metric(country_data, 'import_usd')

    print("Top Exporters by Heavy (TON):")
    for country, data in top_exporters_ton:
        print(f"{country}: {data['export_ton']}")

    print("\nTop Importers by Heavy (TON):")
    for country, data in top_importers_ton:
        print(f"{country}: {data['import_ton']}")

    print("\nTop Exporters by Value (USD):")
    for country, data in top_exporters_usd:
        print(f"{country}: {data['export_usd']}")

    print("\nTop Importers by Value (USD):")
    for country, data in top_importers_usd:
        print(f"{country}: {data['import_usd']}")

if __name__ == "__main__":
    main()

Invalid tonnage value in row: 2
Invalid tonnage value in row: 3
Invalid tonnage value in row: 4
Invalid tonnage value in row: 5
Invalid tonnage value in row: 6
Invalid tonnage value in row: 7
Invalid tonnage value in row: 8
Invalid tonnage value in row: 9
Invalid tonnage value in row: 10
Invalid tonnage value in row: 11
Invalid tonnage value in row: 12
Invalid tonnage value in row: 13
Invalid tonnage value in row: 14
Invalid tonnage value in row: 15
Invalid tonnage value in row: 16
Invalid tonnage value in row: 17
Invalid tonnage value in row: 18
Invalid tonnage value in row: 19
Invalid tonnage value in row: 20
Invalid tonnage value in row: 21
Invalid tonnage value in row: 22
Invalid tonnage value in row: 23
Invalid tonnage value in row: 24
Invalid tonnage value in row: 25
Invalid tonnage value in row: 26
Invalid tonnage value in row: 27
Invalid tonnage value in row: 28
Invalid tonnage value in row: 29
Invalid tonnage value in row: 30
Invalid tonnage value in row: 31
Invalid tonnage value in row: 32
Invalid tonnage value in row: 33
Invalid tonnage value in row: 34
Invalid tonnage value in row: 35
Invalid tonnage value in row: 36
Invalid tonnage value in row: 37
Invalid tonnage value in row: 38
Invalid tonnage value in row: 39
Invalid tonnage value in row: 40
Invalid tonnage value in row: 41
Invalid tonnage value in row: 42
Invalid tonnage value in row: 43
Invalid tonnage value in row: 44
Invalid tonnage value in row: 45
Invalid tonnage value in row: 46
Invalid tonnage value in row: 47
Invalid tonnage value in row: 48
Invalid tonnage value in row: 49
Invalid tonnage value in row: 50
Invalid tonnage value in row: 51
Invalid tonnage value in row: 52
Invalid tonnage value in row: 53
Invalid tonnage value in row: 54
Invalid tonnage value in row: 55
Invalid tonnage value in row: 56
Invalid tonnage value in row: 57
Invalid tonnage value in row: 58
Invalid tonnage value in row: 59
Invalid tonnage value in row: 60
Invalid tonnage value in row: 61
Invalid tonnage value in row: 62
Invalid tonnage value in row: 63
Invalid tonnage value in row: 64
Invalid tonnage value in row: 65
Invalid tonnage value in row: 66
Invalid tonnage value in row: 67
Invalid tonnage value in row: 68
Invalid tonnage value in row: 69
Invalid tonnage value in row: 70
Invalid tonnage value in row: 71
Invalid tonnage value in row: 72
Invalid tonnage value in row: 73
Invalid tonnage value in row: 74
Invalid tonnage value in row: 75
Invalid tonnage value in row: 76
Invalid tonnage value in row: 77
Invalid tonnage value in row: 78
Invalid tonnage value in row: 79
Invalid tonnage value in row: 80
Invalid tonnage value in row: 81
Invalid tonnage value in row: 82
Invalid tonnage value in row: 83
Invalid tonnage value in row: 84
Invalid tonnage value in row: 85
Invalid tonnage value in row: 86
Invalid tonnage value in row: 87
Invalid tonnage value in row: 88
Invalid tonnage value in row: 89
Invalid tonnage value in row: 90
Invalid tonnage value in row: 91
Invalid tonnage value in row: 92
Invalid tonnage value in row: 93
Invalid tonnage value in row: 94
Invalid tonnage value in row: 95
Invalid tonnage value in row: 96
Invalid tonnage value in row: 97
Invalid tonnage value in row: 98
Invalid tonnage value in row: 99
Invalid tonnage value in row: 100
Invalid tonnage value in row: 101
Invalid tonnage value in row: 102
Invalid tonnage value in row: 103
Invalid tonnage value in row: 104
Invalid tonnage value in row: 105
Invalid tonnage value in row: 106
Invalid tonnage value in row: 107
Invalid tonnage value in row: 108
Invalid tonnage value in row: 109
Invalid tonnage value in row: 110
Invalid tonnage value in row: 111
Invalid tonnage value in row: 112
Invalid tonnage value in row: 113
Invalid tonnage value in row: 114
Invalid tonnage value in row: 115
Invalid tonnage value in row: 116
Invalid tonnage value in row: 117
Invalid tonnage value in row: 118
Invalid tonnage value in row: 119
Invalid tonnage value in row: 120
Invalid tonnage value in row: 121
Invalid tonnage value in row: 122
Invalid tonnage value in row: 123
Invalid tonnage value in row: 124
Invalid tonnage value in row: 125
Invalid tonnage value in row: 126
Invalid tonnage value in row: 127
Invalid tonnage value in row: 128
Invalid tonnage value in row: 129
Invalid tonnage value in row: 130
Invalid tonnage value in row: 131
Invalid tonnage value in row: 132
Invalid tonnage value in row: 133
Invalid tonnage value in row: 134
Invalid tonnage value in row: 135
Invalid tonnage value in row: 136
Invalid tonnage value in row: 137
Invalid tonnage value in row: 138
Invalid tonnage value in row: 139
Invalid tonnage value in row: 140
Invalid tonnage value in row: 141
Invalid tonnage value in row: 142
Invalid tonnage value in row: 143
Invalid tonnage value in row: 144
Invalid tonnage value in row: 145
Invalid tonnage value in row: 146
Invalid tonnage value in row: 147
Invalid tonnage value in row: 148
Invalid tonnage value in row: 149
Invalid tonnage value in row: 150
Invalid tonnage value in row: 151
Invalid tonnage value in row: 152
Invalid tonnage value in row: 153
Invalid tonnage value in row: 154
Invalid tonnage value in row: 155
Invalid tonnage value in row: 156
Invalid tonnage value in row: 157
Invalid tonnage value in row: 158
Invalid tonnage value in row: 159
Invalid tonnage value in row: 160
Invalid tonnage value in row: 161
Invalid tonnage value in row: 162
Invalid tonnage value in row: 163
Invalid tonnage value in row: 164
Invalid tonnage value in row: 165
Invalid tonnage value in row: 166
Invalid tonnage value in row: 167
Invalid tonnage value in row: 168
Invalid tonnage value in row: 169
Invalid tonnage value in row: 170
Invalid tonnage value in row: 171
Invalid tonnage value in row: 172
Invalid tonnage value in row: 173
Invalid tonnage value in row: 174
Invalid tonnage value in row: 175
Invalid tonnage value in row: 176
Invalid tonnage value in row: 177
Invalid tonnage value in row: 178
Invalid tonnage value in row: 179
Invalid tonnage value in row: 180
Invalid tonnage value in row: 181
Invalid tonnage value in row: 182
Invalid tonnage value in row: 183
Invalid tonnage value in row: 184
Invalid tonnage value in row: 185
Invalid tonnage value in row: 186
Invalid tonnage value in row: 187
Invalid tonnage value in row: 188
Invalid tonnage value in row: 189
Invalid tonnage value in row: 190
Invalid tonnage value in row: 191
Invalid tonnage value in row: 192
Invalid tonnage value in row: 193
Invalid tonnage value in row: 194
Invalid tonnage value in row: 195
Invalid tonnage value in row: 196
Invalid tonnage value in row: 197
Invalid tonnage value in row: 198
Invalid tonnage value in row: 199
Invalid tonnage value in row: 200
Invalid tonnage value in row: 201
Invalid tonnage value in row: 202
Invalid tonnage value in row: 203
Invalid tonnage value in row: 204
Invalid tonnage value in row: 205
Invalid tonnage value in row: 206
Invalid tonnage value in row: 207
Invalid tonnage value in row: 208
Invalid tonnage value in row: 209
Invalid tonnage value in row: 210
Invalid tonnage value in row: 211
Invalid tonnage value in row: 212
Invalid tonnage value in row: 213
Top Exporters by Heavy (TON):

Top Importers by Heavy (TON):

Top Exporters by Value (USD):

Top Importers by Value (USD):

C:\Users\gerra\AppData\Local\Temp\ipykernel_18076\4004144108.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.notna(row[0]):
C:\Users\gerra\AppData\Local\Temp\ipykernel_18076\4004144108.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  country = str(row[0]).strip()
C:\Users\gerra\AppData\Local\Temp\ipykernel_18076\4004144108.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  import_ton = float(row[1]) if pd.notna(row[1]) else 0

## BY PRIORITY SCORE (A*)

In [4]:
import pandas as pd

def read_data(filename):
    country_data = {}
    try:
        df = pd.read_excel(filename)
    except Exception as e:
        print(f"Error reading Excel file: {e}")
        return country_data

    for index, row in df.iterrows():
        if pd.notna(row.iloc[0]):
            country = str(row.iloc[0]).strip()
            metrics = {}
            try:
                metrics['import_ton'] = float(row.iloc[1]) if pd.notna(row.iloc[1]) else 0
                metrics['export_ton'] = float(row.iloc[6]) if pd.notna(row.iloc[6]) else 0
                metrics['import_usd'] = float(row.iloc[13]) if pd.notna(row.iloc[13]) else 0
                metrics['export_usd'] = float(row.iloc[18]) if pd.notna(row.iloc[18]) else 0
                country_data[country] = metrics
            except ValueError as ve:
                print(f"Invalid value in row: {index + 2}, column causing error: {ve}")
                continue
    return country_data

def calculate_priority(country_data):
    # Define weights for each metric
    weights = {'import_ton': 1, 'export_ton': 2, 'import_usd': 3, 'export_usd': 4}
    for country, metrics in country_data.items():
        metrics['priority'] = (weights['import_ton'] * metrics['import_ton'] +
                               weights['export_ton'] * metrics['export_ton'] +
                               weights['import_usd'] * metrics['import_usd'] +
                               weights['export_usd'] * metrics['export_usd'])
    
    sorted_countries = sorted(country_data.items(), key=lambda x: x[1]['priority'], reverse=True)
    top_five = sorted_countries[:5]
    bottom_five = sorted_countries[-5:]
    return top_five, bottom_five

def main():
    filename = 'dataFIXmerges.xlsx'
    country_data = read_data(filename)
    top_five, bottom_five = calculate_priority(country_data)

    print("Top 5 Countries by Priority Score:")
    for country, data in top_five:
        print(f"{country}: Priority Score = {data['priority']}")

    print("\nBottom 5 Countries by Priority Score:")
    for country, data in bottom_five:
        print(f"{country}: Priority Score = {data['priority']}")

if __name__ == "__main__":
    main()

Invalid value in row: 2, column causing error: could not convert string to float: 'BENUA'
Invalid value in row: 3, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 4, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 5, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 6, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 7, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 8, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 9, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 10, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 11, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 12, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 13, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 14, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 15, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 16, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 17, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 18, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 19, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 20, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 21, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 22, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 23, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 24, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 25, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 26, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 27, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 28, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 29, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 30, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 31, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 32, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 33, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 34, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 35, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 36, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 37, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 38, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 39, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 40, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 41, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 42, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 43, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 44, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 45, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 46, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 47, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 48, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 49, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 50, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 51, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 52, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 53, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 54, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 55, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 56, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 57, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 58, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 59, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 60, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 61, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 62, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 63, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 64, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 65, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 66, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 67, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 68, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 69, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 70, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 71, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 72, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 73, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 74, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 75, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 76, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 77, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 78, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 79, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 80, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 81, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 82, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 83, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 84, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 85, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 86, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 87, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 88, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 89, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 90, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 91, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 92, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 93, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 94, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 95, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 96, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 97, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 98, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 99, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 100, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 101, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 102, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 103, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 104, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 105, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 106, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 107, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 108, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 109, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 110, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 111, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 112, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 113, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 114, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 115, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 116, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 117, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 118, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 119, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 120, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 121, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 122, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 123, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 124, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 125, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 126, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 127, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 128, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 129, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 130, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 131, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 132, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 133, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 134, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 135, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 136, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 137, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 138, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 139, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 140, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 141, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 142, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 143, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 144, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 145, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 146, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 147, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 148, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 149, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 150, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 151, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 152, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 153, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 154, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 155, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 156, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 157, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 158, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 159, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 160, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 161, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 162, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 163, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 164, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 165, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 166, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 167, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 168, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 169, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 170, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 171, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 172, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 173, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 174, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 175, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 176, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 177, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 178, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 179, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 180, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 181, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 182, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 183, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 184, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 185, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 186, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 187, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 188, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 189, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 190, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 191, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 192, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 193, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 194, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 195, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 196, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 197, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 198, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 199, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 200, column causing error: could not convert string to float: 'AFRIKA'
Invalid value in row: 201, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 202, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 203, column causing error: could not convert string to float: 'EROPA'
Invalid value in row: 204, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 205, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 206, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 207, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 208, column causing error: could not convert string to float: 'AMERIKA SELATAN'
Invalid value in row: 209, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 210, column causing error: could not convert string to float: 'AMERIKA UTARA'
Invalid value in row: 211, column causing error: could not convert string to float: 'OSEANIA'
Invalid value in row: 212, column causing error: could not convert string to float: 'ASIA'
Invalid value in row: 213, column causing error: could not convert string to float: 'AFRIKA'
Top 5 Countries by Priority Score:

Bottom 5 Countries by Priority Score:

## BY FITNESS SCORE (GENETIC ALGORITHM)

In [5]:
import pandas as pd
import numpy as np
import random
from deap import base, creator, tools, algorithms

# Load the Excel file
file_path = 'dataFIXmerges.xlsx'
excel_data = pd.ExcelFile(file_path)

# Load data from Sheet1
sheet1_data = pd.read_excel(file_path, sheet_name='Sheet1')

# Clean and preprocess the data
sheet1_data = sheet1_data.drop(0)  # Remove the first row which seems to be a header for the columns
sheet1_data.columns = ['Country', 'Continent', 'Export_2018_Vol', 'Export_2019_Vol', 'Export_2020_Vol', 'Export_2021_Vol', 'Export_2022_Vol', 'Export_2023_Vol',
                       'Extra1', 'Extra2', 'Extra3', 'Extra4', 'Extra5', 'Extra6', 'Extra7', 'Extra8', 'Extra9', 'Extra10', 'IMPOR', 'Unnamed: 19', 'Unnamed: 20', 
                       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 
                       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34']

# Drop unnecessary columns with 'Extra' in their names and other unnamed columns
columns_to_drop = [col for col in sheet1_data if 'Extra' in col or 'Unnamed' in col]
sheet1_data = sheet1_data.drop(columns=columns_to_drop)

# Convert numerical columns to proper data types
for col in sheet1_data.columns[2:]:
    sheet1_data[col] = pd.to_numeric(sheet1_data[col], errors='coerce')

# Define the genetic algorithm components
creator.create("FitnessMax", base.Fitness, weights=(1.0,))
creator.create("Individual", list, fitness=creator.FitnessMax)

def create_individual():
    return creator.Individual(np.random.permutation(len(sheet1_data)).tolist())

def calculate_fitness(individual):
    total_export = sheet1_data.iloc[individual, 2:8].sum().sum()  # Export columns from 2018 to 2023
    total_import = sheet1_data.iloc[individual, -6:].sum().sum()  # Import columns from 2018 to 2023
    return total_export + total_import,

toolbox = base.Toolbox()
toolbox.register("individual", create_individual)
toolbox.register("population", tools.initRepeat, list, toolbox.individual)
toolbox.register("evaluate", calculate_fitness)
toolbox.register("mate", tools.cxTwoPoint)
toolbox.register("mutate", tools.mutShuffleIndexes, indpb=0.05)
toolbox.register("select", tools.selTournament, tournsize=3)

# Genetic Algorithm parameters
population_size = 10
generations = 50
mutation_rate = 0.1

# Initialize the population
population = toolbox.population(n=population_size)

# Run the Genetic Algorithm
algorithms.eaSimple(population, toolbox, cxpb=0.7, mutpb=mutation_rate, ngen=generations, verbose=True)

# Get the best solution
best_individual = tools.selBest(population, k=1)[0]
best_fitness = calculate_fitness(best_individual)

# Get the data corresponding to the best individual
best_data = sheet1_data.iloc[best_individual].reset_index(drop=True)

# Add the total export and import as a new column
best_data['Total_Export_Import'] = best_data.iloc[:, 2:].sum(axis=1)

# Get top 5 countries by total export and import for each continent
top5_per_continent = best_data.groupby('Continent').apply(lambda x: x.nlargest(5, 'Total_Export_Import')).reset_index(drop=True)

# Save the top 5 per continent to a new Excel file
output_file_path = 'top5_exports_imports_by_continent.xlsx'
top5_per_continent.to_excel(output_file_path, index=False)

# Print the best solution and its fitness
print("Best Individual:", best_individual)
print("Best Fitness:", best_fitness[0])
print(f"Top 5 countries by export and import volume per continent saved to {output_file_path}")

# Display the cleaned data (optional)
print(sheet1_data)

gen	nevals
0  	10
1  	4
2  	5
3  	6
4  	10
5  	6
6  	8
7  	8
8  	9
9  	4
10 	4
11 	8
12 	8
13 	4
14 	6
15 	8
16 	6
17 	5
18 	8
19 	7
20 	6
21 	8
22 	4
23 	6
24 	7
25 	6
26 	6
27 	6
28 	6
29 	8
30 	10
31 	8
32 	8
33 	6
34 	8
35 	6
36 	8
37 	4
38 	10
39 	6
40 	10
41 	6
42 	7
43 	10
44 	10
45 	4
46 	8
47 	6
48 	9
49 	9
50 	6
Best Individual: [104, 23, 174, 171, 102, 61, 49, 146, 67, 181, 89, 162, 15, 162, 210, 71, 73, 69, 134, 25, 163, 44, 178, 100, 95, 92, 9, 175, 115, 123, 125, 150, 106, 43, 10, 21, 36, 199, 5, 34, 72, 99, 159, 184, 59, 199, 164, 171, 22, 130, 62, 77, 9, 12, 17, 54, 31, 76, 25, 207, 76, 93, 63, 113, 161, 92, 182, 35, 117, 158, 172, 34, 185, 209, 11, 133, 171, 110, 191, 175, 125, 129, 178, 35, 169, 119, 82, 92, 184, 181, 130, 24, 16, 114, 122, 66, 181, 44, 189, 18, 133, 174, 61, 118, 191, 124, 140, 93, 63, 9, 133, 75, 209, 130, 201, 42, 90, 154, 186, 170, 82, 71, 86, 76, 58, 185, 169, 70, 119, 43, 5, 157, 39, 161, 128, 171, 36, 78, 61, 199, 139, 11, 43, 114, 7, 34, 3, 42, 164, 35, 77, 9, 138, 147, 33, 16, 184, 164, 173, 22, 26, 34, 167, 182, 63, 35, 203, 4, 24, 67, 69, 167, 106, 210, 13, 176, 67, 103, 164, 53, 56, 47, 131, 126, 113, 33, 144, 182, 36, 138, 87, 145, 48, 188, 167, 196, 138, 31, 28, 153, 65, 205, 62, 111, 178, 92, 156, 18, 43, 35, 57]
Best Fitness: 36788459.32000001
Top 5 countries by export and import volume per continent saved to top5_exports_imports_by_continent.xlsx
                       Country      Continent  Export_2018_Vol  \
1                  AFGHANISTAN           ASIA             0.00
2                      ALBANIA          EROPA           649.62
3                      ALGERIA         AFRIKA          2482.60
4               AMERICAN SAMOA        OSEANIA            68.21
5                      ANDORRA          EROPA             0.00
..                         ...            ...              ...
207                   VIET NAM           ASIA         51300.93
208   VIRGIN ISLANDS (BRITISH)  AMERIKA UTARA             0.00
209  WALLIS AND FUTUNA ISLANDS        OSEANIA             0.00
210                      YEMEN           ASIA           771.92
211                   ZIMBABWE         AFRIKA            40.00

     Export_2019_Vol  Export_2020_Vol  Export_2021_Vol  Export_2022_Vol  \
1               0.00             0.00             0.00             0.00
2             980.04           828.93           852.10           717.98
3            1824.36           930.22           704.00          1246.74
4              69.49           635.82           999.94           253.98
5               0.00             0.00             0.01             0.00
..               ...              ...              ...              ...
207         44704.50         41510.11         43430.80         60523.18
208             0.06             0.00             0.00             0.00
209             0.00             0.00             0.08             0.00
210          1325.58           619.30          1142.95           650.33
211             0.00             0.00             0.00             0.00

     Export_2023_Vol  IMPOR
1               0.00    NaN
2            1033.78    NaN
3            2797.21    NaN
4             197.12    NaN
5               0.28    NaN
..               ...    ...
207         52331.73    NaN
208            39.92    NaN
209             0.00    NaN
210           177.10    NaN
211             0.00    NaN

[211 rows x 9 columns]

C:\Users\gerra\AppData\Local\Temp\ipykernel_18076\2315364634.py:70: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top5_per_continent = best_data.groupby('Continent').apply(lambda x: x.nlargest(5, 'Total_Export_Import')).reset_index(drop=True)